/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/about
/public/accommodations
/public/agent
/public/campings
/public/customer
/public/event
/public/foods
/public/images
/public/slider
/public/photos
/public/thumbnail
/public/trekkings
/public/waterfalls